In [1]:
from crisis_summary.summary import crisis
from crisis_summary.utils.util import get_eventsMeta

c:\Users\JaeHoBahng\anaconda3\envs\dsan5800\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
from dotenv import load_dotenv
import os

In [3]:
# !mkdir auth

In [4]:
# credentials = {
#     "institution": "Georgetown University", # University, Company or Public Agency Name
#     "contactname": "JaeHo Bahng", # Your Name
#     "email": "jaheo127@gmail.com", # A contact email address
#     "institutiontype": "Academic" # Either 'Research', 'Industry', or 'Public Sector'
# }

# # Write this to a file so it can be read when needed
# import json
# import os

# with open('./auth/crisisfacts.json', 'w') as f:
#     json.dump(credentials, f)

# Environment Variables
- the .env file contains openai api keys.
- set the IR_DATASETS_HOME variable to wherever the crisisfacts folder is in relative to the current working directory

In [5]:
# Load variables from the .env file
load_dotenv('.env')
api = os.getenv("OPENAI_API_KEY")
os.environ['IR_DATASETS_HOME'] = './'

# Get Metadata

- For multiple events must input like '001,002,003'
- If you want all days and not just the first few delete days parameter

In [6]:
eventsMeta = get_eventsMeta(eventNoList='001', days=1)

# Rerank with Colbert

In [7]:
mine = crisis(events = eventsMeta)

final_df, time_taken, memory_used = mine.rank_rerank_colbert(model = 'BM25')
# result_df = mine.group_doc(final_df)
# a, b, c = mine.gpt_summary(result_df, api)

Loading ColBERTRanker model answerdotai/answerai-colbert-small-v1 (this message can be suppressed by setting verbose=0)
No device set
Using device cuda
No dtype set
Using dtype torch.float32
Loading model answerdotai/answerai-colbert-small-v1, this might take a while...
Linear Dim set to: 96 for downcasting
crisisfacts/001/2017-12-07  processing

crisisfacts/001/2017-12-07 documents: 7288it [00:00, 19729.95it/s]
Java started (triggered by TerrierIndexer.__init__) and loaded: pyterrier.java, pyterrier.terrier.java [version=5.10 (build: craigm 2024-08-22 17:33), helper_version=0.0.8]
crisisfacts/001/2017-12-07 documents: 7288it [00:02, 2790.66it/s]

In [8]:
final_df.shape[1]

22

In [9]:
final_df

,qid,docid,docno,text,rank,score,query,Event,request_id,date,...,rerank_score,rerank_rank,rerank_doc,unix_timestamp,formatted_datetime,ID,Event Name,min,max,importance
0,1,532,CrisisFACTS-001-Twitter-22676-0,Back to Cali . . . #california #sandiego # # @...,3,9.943512,airport closed,001,CrisisFACTS-001-r3,2017-12-07,...,2.473314,1,532,1512609067,2017-12-07 01:11:07,001,Lilac Wildfire 2017,1.842453,2.957606,0.565717
1,1,489,CrisisFACTS-001-Twitter-48999-0,TFW you keep counting down to Friday afternoon...,6,9.245681,airport closed,001,CrisisFACTS-001-r3,2017-12-07,...,2.471748,2,489,1512608233,2017-12-07 00:57:13,001,Lilac Wildfire 2017,1.842453,2.957606,0.564313
2,1,1513,CrisisFACTS-001-Twitter-48717-0,Good to be home again! @ San Diego Internation...,0,11.212987,airport closed,001,CrisisFACTS-001-r3,2017-12-07,...,2.466333,3,1513,1512632372,2017-12-07 07:39:32,001,Lilac Wildfire 2017,1.842453,2.957606,0.559457
3,1,364,CrisisFACTS-001-Twitter-49822-0,I'm at San Diego International Airport in San ...,4,9.581908,airport closed,001,CrisisFACTS-001-r3,2017-12-07,...,2.466280,4,364,1512605323,2017-12-07 00:08:43,001,Lilac Wildfire 2017,1.842453,2.957606,0.559409
4,1,2368,CrisisFACTS-001-Twitter-7554-0,Social Fresh in Orlando. Im coming for you! #S...,7,9.245681,airport closed,001,CrisisFACTS-001-r3,2017-12-07,...,2.462697,5,2368,1512667220,2017-12-07 17:20:20,001,Lilac Wildfire 2017,1.842453,2.957606,0.556196
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,1,1424,CrisisFACTS-001-News-22-11,Full containment is not expected until early J...,1,6.523365,containment,001,CrisisFACTS-001-r3,2017-12-07,...,2.957606,1,1424,1512629700,2017-12-07 06:55:00,001,Lilac Wildfire 2017,1.842453,2.957606,1.000000
236,1,4355,CrisisFACTS-001-Twitter-36834-0,#lilacfire is now 175 acres 0 containment #San...,14,5.724531,containment,001,CrisisFACTS-001-r3,2017-12-07,...,2.943594,2,4355,1512683154,2017-12-07 21:45:54,001,Lilac Wildfire 2017,1.842453,2.957606,0.987434
237,1,1413,CrisisFACTS-001-News-22-0,Cal Fire reaches 100 percent containment on Li...,13,5.724531,containment,001,CrisisFACTS-001-r3,2017-12-07,...,2.939075,3,1413,1512629700,2017-12-07 06:55:00,001,Lilac Wildfire 2017,1.842453,2.957606,0.983382
238,1,4485,CrisisFACTS-001-Twitter-41509-0,"JUST IN: 500 acres, 0% Containment. #Breaking ...",37,5.292464,containment,001,CrisisFACTS-001-r3,2017-12-07,...,2.937287,4,4485,1512683583,2017-12-07 21:53:03,001,Lilac Wildfire 2017,1.842453,2.957606,0.981779
239,1,1644,CrisisFACTS-001-Facebook-51-0,"As of Dec 6th, @ 1pm- #ThomasFire has burned o...",31,5.292464,containment,001,CrisisFACTS-001-r3,2017-12-07,...,2.935282,5,1644,1512642170,2017-12-07 10:22:50,001,Lilac Wildfire 2017,1.842453,2.957606,0.979981

# Rerank with MonoT5

In [8]:
mine = crisis(events = eventsMeta)

final_df, time_taken, memory_used = mine.rank_rerank_T5(model = 'BM25')
result_df = mine.group_doc(final_df)
a, b, c = mine.gpt_summary(result_df, api)

crisisfacts/001/2017-12-07  processing
There are multiple query fields available: ('text', 'indicative_terms', 'trecis_category_mapping', 'event_id', 'event_title', 'event_dataset', 'event_description', 'event_trecis_id', 'event_type', 'event_url'). To use with pyterrier, provide variant or modify dataframe to add query column.

crisisfacts/001/2017-12-07 documents: 7288it [00:00, 15605.59it/s]
crisisfacts/001/2017-12-07 documents: 7288it [00:01, 3995.04it/s]
You are using the default legacy behaviour of the <class 'transformers.models.t5.tokenization_t5.T5Tokenizer'>. This is expected, and simply means that the `legacy` (previous) behavior will be used so nothing changes for you. If you want to use the new behaviour, set `legacy=False`. This should only be set if you understand what it means, and thoroughly read the reason why this was added as explained in https://github.com/huggingface/transformers/pull/24565

08:47:26.771 [main] WARN org.terrier.querying.ApplyTermPipeline -- The index has no termpipelines configuration, and no control configuration is found. Defaulting to global termpipelines configuration of 'Stopwords,PorterStemmer'. Set a termpipelines control to remove this warning.

In [1]:
import pandas as pd

data = [
    ("001", "Lilac Wildfire 2017"),
    ("002", "Cranston Wildfire 2018"),
    ("003", "Holy Wildfire 2018"),
    ("004", "Hurricane Florence 2018"),
    ("005", "2018 Maryland Flood"),
    ("006", "Saddleridge Wildfire 2019"),
    ("007", "Hurricane Laura 2020"),
    ("008", "Hurricane Sally 2020"),
    ("009", "Beirut Explosion 2020"),
    ("010", "Houston Explosion 2020"),
    ("011", "Rutherford TN Floods 2020"),
    ("012", "TN Derecho 2020"),
    ("013", "Edenville Dam Fail 2020"),
    ("014", "Hurricane Dorian 2019"),
    ("015", "Kincade Wildfire 2019"),
    ("016", "Easter Tornado Outbreak 2020"),
    ("017", "Tornado Outbreak April 2020"),
    ("018", "Tornado Outbreak March 2020"),
]

# Create DataFrame
df = pd.DataFrame(data, columns=["ID", "Event Name"])

# Ranking Experiment

In [1]:
from crisis_summary.summary import crisis
from crisis_summary.utils.util import get_eventsMeta
from dotenv import load_dotenv
import os
pd.set_option('display.max_colwidth', 200)

# Load variables from the .env file
load_dotenv('.env')
api = os.getenv("OPENAI_API_KEY")
os.environ['IR_DATASETS_HOME'] = './'

eventsMeta = get_eventsMeta(eventNoList='001', days=1)

c:\Users\JaeHoBahng\anaconda3\envs\dsan5800\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

NameError: name 'pd' is not defined

In [ ]:
models = [
    "BM25",          # Okapi BM25
    "TF_IDF",        # Term Frequency - Inverse Document Frequency
    "PL2",           # Divergence from Randomness model
    "InL2",          # Inverse document length normalized
    "DPH",           # Divergence from Randomness - DPH
    "DirichletLM",   # Language Model with Dirichlet smoothing
    "Hiemstra_LM",   # Hiemstra Language Model
    "DFRee",         # Divergence-Free model
]

# List to store the filtered dataframes
dataframes = []

# Assuming eventsMeta and models are defined
mine = crisis(events=eventsMeta)

for i in models:
    # Perform rank and rerank
    final_df, time_taken, memory_used = mine.rank_rerank_colbert(model=i)
    
    # Filter the dataframe and add additional columns
    # filtered_df = final_df[final_df['query'] == 'containment'][['text', 'rank', 'rerank_rank']]
    final_df['model'] = i
    final_df['memory'] = memory_used
    final_df['time'] = time_taken
    
    # Append the filtered dataframe to the list
    dataframes.append(final_df)

# Concatenate all filtered dataframes into one
consolidated_df = pd.concat(dataframes, ignore_index=True)

Loading ColBERTRanker model answerdotai/answerai-colbert-small-v1 (this message can be suppressed by setting verbose=0)
No device set
Using device cuda
No dtype set
Using dtype torch.float32
Loading model answerdotai/answerai-colbert-small-v1, this might take a while...
Linear Dim set to: 96 for downcasting
crisisfacts/001/2017-12-07  processing
There are multiple query fields available: ('text', 'indicative_terms', 'trecis_category_mapping', 'event_id', 'event_title', 'event_dataset', 'event_description', 'event_trecis_id', 'event_type', 'event_url'). To use with pyterrier, provide variant or modify dataframe to add query column.

crisisfacts/001/2017-12-07 documents: 7288it [00:00, 15426.05it/s]
crisisfacts/001/2017-12-07 documents: 7288it [00:01, 4334.02it/s]

Loading ColBERTRanker model answerdotai/answerai-colbert-small-v1 (this message can be suppressed by setting verbose=0)
No device set
Using device cuda
No dtype set
Using dtype torch.float32
Loading model answerdotai/answerai-colbert-small-v1, this might take a while...
Linear Dim set to: 96 for downcasting
crisisfacts/001/2017-12-07  processing
There are multiple query fields available: ('text', 'indicative_terms', 'trecis_category_mapping', 'event_id', 'event_title', 'event_dataset', 'event_description', 'event_trecis_id', 'event_type', 'event_url'). To use with pyterrier, provide variant or modify dataframe to add query column.

crisisfacts/001/2017-12-07 documents: 7288it [00:00, 21886.38it/s]
crisisfacts/001/2017-12-07 documents: 7288it [00:01, 4519.39it/s]

Loading ColBERTRanker model answerdotai/answerai-colbert-small-v1 (this message can be suppressed by setting verbose=0)
No device set
Using device cuda
No dtype set
Using dtype torch.float32
Loading model answerdotai/answerai-colbert-small-v1, this might take a while...
Linear Dim set to: 96 for downcasting
crisisfacts/001/2017-12-07  processing
There are multiple query fields available: ('text', 'indicative_terms', 'trecis_category_mapping', 'event_id', 'event_title', 'event_dataset', 'event_description', 'event_trecis_id', 'event_type', 'event_url'). To use with pyterrier, provide variant or modify dataframe to add query column.

crisisfacts/001/2017-12-07 documents: 7288it [00:00, 21764.41it/s]
crisisfacts/001/2017-12-07 documents: 7288it [00:01, 4443.93it/s]

Loading ColBERTRanker model answerdotai/answerai-colbert-small-v1 (this message can be suppressed by setting verbose=0)
No device set
Using device cuda
No dtype set
Using dtype torch.float32
Loading model answerdotai/answerai-colbert-small-v1, this might take a while...
Linear Dim set to: 96 for downcasting
crisisfacts/001/2017-12-07  processing
There are multiple query fields available: ('text', 'indicative_terms', 'trecis_category_mapping', 'event_id', 'event_title', 'event_dataset', 'event_description', 'event_trecis_id', 'event_type', 'event_url'). To use with pyterrier, provide variant or modify dataframe to add query column.

crisisfacts/001/2017-12-07 documents: 7288it [00:00, 14408.33it/s]
crisisfacts/001/2017-12-07 documents: 7288it [00:01, 4567.97it/s]

Loading ColBERTRanker model answerdotai/answerai-colbert-small-v1 (this message can be suppressed by setting verbose=0)
No device set
Using device cuda
No dtype set
Using dtype torch.float32
Loading model answerdotai/answerai-colbert-small-v1, this might take a while...
Linear Dim set to: 96 for downcasting
crisisfacts/001/2017-12-07  processing
There are multiple query fields available: ('text', 'indicative_terms', 'trecis_category_mapping', 'event_id', 'event_title', 'event_dataset', 'event_description', 'event_trecis_id', 'event_type', 'event_url'). To use with pyterrier, provide variant or modify dataframe to add query column.

crisisfacts/001/2017-12-07 documents: 7288it [00:00, 18869.98it/s]
crisisfacts/001/2017-12-07 documents: 7288it [00:01, 4011.00it/s]

Loading ColBERTRanker model answerdotai/answerai-colbert-small-v1 (this message can be suppressed by setting verbose=0)
No device set
Using device cuda
No dtype set
Using dtype torch.float32
Loading model answerdotai/answerai-colbert-small-v1, this might take a while...
Linear Dim set to: 96 for downcasting
crisisfacts/001/2017-12-07  processing
There are multiple query fields available: ('text', 'indicative_terms', 'trecis_category_mapping', 'event_id', 'event_title', 'event_dataset', 'event_description', 'event_trecis_id', 'event_type', 'event_url'). To use with pyterrier, provide variant or modify dataframe to add query column.

crisisfacts/001/2017-12-07 documents: 7288it [00:00, 20445.54it/s]
crisisfacts/001/2017-12-07 documents: 7288it [00:01, 3988.76it/s]

Loading ColBERTRanker model answerdotai/answerai-colbert-small-v1 (this message can be suppressed by setting verbose=0)
No device set
Using device cuda
No dtype set
Using dtype torch.float32
Loading model answerdotai/answerai-colbert-small-v1, this might take a while...
Linear Dim set to: 96 for downcasting
crisisfacts/001/2017-12-07  processing
There are multiple query fields available: ('text', 'indicative_terms', 'trecis_category_mapping', 'event_id', 'event_title', 'event_dataset', 'event_description', 'event_trecis_id', 'event_type', 'event_url'). To use with pyterrier, provide variant or modify dataframe to add query column.

crisisfacts/001/2017-12-07 documents: 7288it [00:00, 21362.91it/s]
crisisfacts/001/2017-12-07 documents: 7288it [00:01, 4235.80it/s]

Loading ColBERTRanker model answerdotai/answerai-colbert-small-v1 (this message can be suppressed by setting verbose=0)
No device set
Using device cuda
No dtype set
Using dtype torch.float32
Loading model answerdotai/answerai-colbert-small-v1, this might take a while...
Linear Dim set to: 96 for downcasting
crisisfacts/001/2017-12-07  processing
There are multiple query fields available: ('text', 'indicative_terms', 'trecis_category_mapping', 'event_id', 'event_title', 'event_dataset', 'event_description', 'event_trecis_id', 'event_type', 'event_url'). To use with pyterrier, provide variant or modify dataframe to add query column.

crisisfacts/001/2017-12-07 documents: 7288it [00:00, 15311.01it/s]
crisisfacts/001/2017-12-07 documents: 7288it [00:01, 4163.80it/s]

In [36]:
import numpy as np
consolidated_df['SE'] = (consolidated_df['rerank_rank'] - consolidated_df['rank'])**2
consolidated_df.groupby(['model'])[['memory','time','SE']].mean().reset_index()

         model     memory       time          SE
0         BM25  50.781250   6.514025  216.637500
1        DFRee  32.414062  11.001296  389.604167
2          DPH  38.562500   9.705055  404.720833
3  DirichletLM  85.347656  10.221884  297.254167
4  Hiemstra_LM  37.957031   9.004418  199.220833
5         InL2  89.050781   9.054862  222.350000
6          PL2  42.320312   6.021144  218.820833
7       TF_IDF  86.332031   5.975499  216.495833

In [ ]:
consolidated_df['SE'] = consolidated_df['rerank_rank'] - consolidated_df['rank']

In [29]:
consolidated_df[consolidated_df['model']=='BM25']

,text,rank,rerank_rank,model,memory,time
0,Full containment is not expected until early January.,1,1,BM25,82.449219,6.432209
1,#lilacfire is now 175 acres 0 containment #SanDiego County,14,2,BM25,82.449219,6.432209
2,Cal Fire reaches 100 percent containment on Lilac Fire,13,3,BM25,82.449219,6.432209
3,"JUST IN: 500 acres, 0% Containment. #Breaking #LilacFire @fox5sandiego https://t.co/rHDRSaUwIC",37,4,BM25,82.449219,6.432209
4,"As of Dec 6th, @ 1pm- #ThomasFire has burned over 65,000 acres and has 0% containment.",31,5,BM25,82.449219,6.432209

In [30]:
consolidated_df[consolidated_df['model']=='TF_IDF']

,text,rank,rerank_rank,model,memory,time
5,Full containment is not expected until early January.,1,1,TF_IDF,59.496094,6.447551
6,#lilacfire is now 175 acres 0 containment #SanDiego County,14,2,TF_IDF,59.496094,6.447551
7,Cal Fire reaches 100 percent containment on Lilac Fire,13,3,TF_IDF,59.496094,6.447551
8,"JUST IN: 500 acres, 0% Containment. #Breaking #LilacFire @fox5sandiego https://t.co/rHDRSaUwIC",37,4,TF_IDF,59.496094,6.447551
9,"As of Dec 6th, @ 1pm- #ThomasFire has burned over 65,000 acres and has 0% containment.",31,5,TF_IDF,59.496094,6.447551

In [34]:
consolidated_df[consolidated_df['model']=='DFRee']

,text,rank,rerank_rank,model,memory,time,SE
35,"JUST IN: 500 acres, 0% Containment. #Breaking #LilacFire @fox5sandiego https://t.co/rHDRSaUwIC",10,1,DFRee,78.125,10.75749,81
36,"As of Dec 6th, @ 1pm- #ThomasFire has burned over 65,000 acres and has 0% containment.",4,2,DFRee,78.125,10.75749,4
37,Fires have now hit San Diego County ... lets hope for a quick containment https://t.co/QqMGZhJxXo,38,3,DFRee,78.125,10.75749,1225
38,#LilacFire Update: 100-150 Acres and 0% Containment https://t.co/kjdaahaII6,25,4,DFRee,78.125,10.75749,441
39,So far the fire has not reached Oceanside or Vista. Praying they get containment soon! https://t.co/l3JyzDmGDY,11,5,DFRee,78.125,10.75749,36

# Reranking Test

In [1]:
from crisis_summary.summary import crisis
from crisis_summary.utils.util import get_eventsMeta
from dotenv import load_dotenv
import os
import pandas as pd

pd.set_option('display.max_colwidth', 200)
pd.set_option('display.max_columns', None)

# Load variables from the .env file
load_dotenv('.env')
api = os.getenv("OPENAI_API_KEY")
os.environ['IR_DATASETS_HOME'] = './'

eventsMeta = get_eventsMeta(eventNoList='001', days=1)

c:\Users\JaeHoBahng\anaconda3\envs\dsan5800\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
# List to store the filtered dataframes
dataframes = []

# Assuming eventsMeta and models are defined
mine = crisis(events=eventsMeta)

# Perform rank and rerank
final_df_col, time_taken, memory_used = mine.rank_rerank_colbert(model='BM25')
final_df_col['model'] = 'COLBERT'
final_df_col['memory'] = memory_used
final_df_col['time'] = time_taken
dataframes.append(final_df_col)

final_df_t5, time_taken, memory_used = mine.rank_rerank_T5(model = 'BM25')
final_df_t5['model'] = 'T5'
final_df_t5['memory'] = memory_used
final_df_t5['time'] = time_taken


# Append the filtered dataframe to the list
dataframes.append(final_df_t5)

# Concatenate all filtered dataframes into one
rerank_df = pd.concat(dataframes, ignore_index=True)

Loading ColBERTRanker model answerdotai/answerai-colbert-small-v1 (this message can be suppressed by setting verbose=0)
No device set
Using device cuda
No dtype set
Using dtype torch.float32
Loading model answerdotai/answerai-colbert-small-v1, this might take a while...
Linear Dim set to: 96 for downcasting
crisisfacts/001/2017-12-07  processing
There are multiple query fields available: ('text', 'indicative_terms', 'trecis_category_mapping', 'event_id', 'event_title', 'event_dataset', 'event_description', 'event_trecis_id', 'event_type', 'event_url'). To use with pyterrier, provide variant or modify dataframe to add query column.

crisisfacts/001/2017-12-07 documents: 7288it [00:00, 20343.92it/s]
Java started (triggered by TerrierIndexer.__init__) and loaded: pyterrier.java, pyterrier.terrier.java [version=5.10 (build: craigm 2024-08-22 17:33), helper_version=0.0.8]
crisisfacts/001/2017-12-07 documents: 7288it [00:02, 3012.22it/s]

crisisfacts/001/2017-12-07  processing
There are multiple query fields available: ('text', 'indicative_terms', 'trecis_category_mapping', 'event_id', 'event_title', 'event_dataset', 'event_description', 'event_trecis_id', 'event_type', 'event_url'). To use with pyterrier, provide variant or modify dataframe to add query column.

crisisfacts/001/2017-12-07 documents: 7288it [00:00, 15586.24it/s]
crisisfacts/001/2017-12-07 documents: 7288it [00:01, 3764.36it/s]
You are using the default legacy behaviour of the <class 'transformers.models.t5.tokenization_t5.T5Tokenizer'>. This is expected, and simply means that the `legacy` (previous) behavior will be used so nothing changes for you. If you want to use the new behaviour, set `legacy=False`. This should only be set if you understand what it means, and thoroughly read the reason why this was added as explained in https://github.com/huggingface/transformers/pull/24565

14:25:36.435 [main] WARN org.terrier.querying.ApplyTermPipeline -- The index has no termpipelines configuration, and no control configuration is found. Defaulting to global termpipelines configuration of 'Stopwords,PorterStemmer'. Set a termpipelines control to remove this warning.

In [3]:
rerank_df.groupby(['model'])[['memory','time']].mean().reset_index()

     model       memory       time
0  COLBERT   781.398438   8.459217
1       T5  1326.011719  38.776444

In [8]:
rerank_df[rerank_df['query'] == 'containment']

,qid,docid,docno,text,rank,score,query,Event,request_id,date,q_id,question,rerank_score,rerank_rank,rerank_doc,unix_timestamp,formatted_datetime,min,max,importance,model,memory,time
235,1,1424,CrisisFACTS-001-News-22-11,Full containment is not expected until early January.,1,6.523365,containment,001,CrisisFACTS-001-r3,2017-12-07,CrisisFACTS-Wildfire-q006,What is the fire containment level,2.957606,1,1424.0,1512629700,2017-12-07 06:55:00,1.842453,2.957606,1.000000,COLBERT,781.398438,8.459217
236,1,4355,CrisisFACTS-001-Twitter-36834-0,#lilacfire is now 175 acres 0 containment #SanDiego County,14,5.724531,containment,001,CrisisFACTS-001-r3,2017-12-07,CrisisFACTS-Wildfire-q006,What is the fire containment level,2.943594,2,4355.0,1512683154,2017-12-07 21:45:54,1.842453,2.957606,0.987434,COLBERT,781.398438,8.459217
237,1,1413,CrisisFACTS-001-News-22-0,Cal Fire reaches 100 percent containment on Lilac Fire,13,5.724531,containment,001,CrisisFACTS-001-r3,2017-12-07,CrisisFACTS-Wildfire-q006,What is the fire containment level,2.939075,3,1413.0,1512629700,2017-12-07 06:55:00,1.842453,2.957606,0.983382,COLBERT,781.398438,8.459217
238,1,4485,CrisisFACTS-001-Twitter-41509-0,"JUST IN: 500 acres, 0% Containment. #Breaking #LilacFire @fox5sandiego https://t.co/rHDRSaUwIC",37,5.292464,containment,001,CrisisFACTS-001-r3,2017-12-07,CrisisFACTS-Wildfire-q006,What is the fire containment level,2.937287,4,4485.0,1512683583,2017-12-07 21:53:03,1.842453,2.957606,0.981779,COLBERT,781.398438,8.459217
239,1,1644,CrisisFACTS-001-Facebook-51-0,"As of Dec 6th, @ 1pm- #ThomasFire has burned over 65,000 acres and has 0% containment.",31,5.292464,containment,001,CrisisFACTS-001-r3,2017-12-07,CrisisFACTS-Wildfire-q006,What is the fire containment level,2.935282,5,1644.0,1512642170,2017-12-07 10:22:50,1.842453,2.957606,0.979981,COLBERT,781.398438,8.459217
475,1,1424,CrisisFACTS-001-News-22-11,Full containment is not expected until early January.,0,-2.147799,containment,001,CrisisFACTS-001-r3,2017-12-07,CrisisFACTS-Wildfire-q006,What is the fire containment level,NaN,0,NaN,1512629700,2017-12-07 06:55:00,-13.011571,-0.001176,0.835007,T5,1326.011719,38.776444
476,1,4846,CrisisFACTS-001-Twitter-10308-0,am i reading that right.... 0% CONTAINED!?!? might as well be -50% contained https://t.co/dDQSZ2iQC0,1,-5.485450,containment,001,CrisisFACTS-001-r3,2017-12-07,CrisisFACTS-Wildfire-q006,What is the fire containment level,NaN,1,NaN,1512684535,2017-12-07 22:08:55,-13.011571,-0.001176,0.578470,T5,1326.011719,38.776444
477,1,5016,CrisisFACTS-001-Twitter-36451-0,"""0% contained"" what the fuck https://t.co/snzdObDPNK",2,-5.659206,containment,001,CrisisFACTS-001-r3,2017-12-07,CrisisFACTS-Wildfire-q006,What is the fire containment level,NaN,2,NaN,1512684959,2017-12-07 22:15:59,-13.011571,-0.001176,0.565115,T5,1326.011719,38.776444
478,1,4485,CrisisFACTS-001-Twitter-41509-0,"JUST IN: 500 acres, 0% Containment. #Breaking #LilacFire @fox5sandiego https://t.co/rHDRSaUwIC",3,-7.501719,containment,001,CrisisFACTS-001-r3,2017-12-07,CrisisFACTS-Wildfire-q006,What is the fire containment level,NaN,3,NaN,1512683583,2017-12-07 21:53:03,-13.011571,-0.001176,0.423496,T5,1326.011719,38.776444
479,1,3427,CrisisFACTS-001-News-40-3,"Approximately 5,000 structures were being threatened by the fire, which was at zero percent containment.",4,-7.795543,containment,001,CrisisFACTS-001-r3,2017-12-07,CrisisFACTS-Wildfire-q006,What is the fire containment level,NaN,4,NaN,1512679667,2017-12-07 20:47:47,-13.011571,-0.001176,0.400912,T5,1326.011719,38.776444

In [5]:
rank_colbert = rerank_df[rerank_df['model']=='COLBERT']['rerank_rank']
rank_t5rerank = rerank_df[rerank_df['model']=='T5']['rerank_rank']

In [6]:
from scipy.stats import kendalltau, spearmanr

def compare_with_original(original_ranks, reranked_ranks):
    tau, _ = kendalltau(original_ranks, reranked_ranks)
    spearman, _ = spearmanr(original_ranks, reranked_ranks)
    return {"kendall_tau": tau, "spearman_rho": spearman}

In [7]:
a = compare_with_original(rank_colbert, rank_t5rerank)

In [8]:
a

{'kendall_tau': 1.0, 'spearman_rho': 1.0}